#####################################################
#                                                   #
#            Configuration File for jMUD            #
#                                                   #
#####################################################

dbName=jmud

splashScreenFileName=splashScreen.txt

maxLoginAttempts=3

dbPassWd=NunyaDamnBidness

dbUName=jmud_server

dbURL=jdbc:mysql://localhost:3306/

