#####################################################
#                                                   #
#            Configuration File for jMUD            #
#                                                   #
#####################################################

dbName=jmud

maxLoginAttempts=3

splashScreenFileName=splashScreen.txt

dbUName=jmud_server

dbPassWd=NunyaDamnBidness

dbURL=jdbc:mysql://localhost:3306/

